body{
    font-size: 18px;
    font-family: calibri;
}

#wrapper{
    margin: 2% 15%;
}

label{
    display: block;
    margin: 15px 0px 10px;
}

.block{
    margin: 5px 0px 5px 20px;
}

.boton{
    margin: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 8%;
}

#btn_create_sesion{
    margin-top: 30px;
}

.error{
    color:red;
}

h1{
    text-align: right;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    border: 1px solid black;
    background-color: lightgrey;
    color: black;
    padding: 5px 10px;
    margin-left: 10px;
}

#btn_volver_login{
    margin-bottom: 15px;
}